{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
<h1>DELOREAN</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ex placeat et quasi, doloribus consequuntur voluptatibus cupiditate asperiores exercitationem fugiat vitae est rerum ut autem, repellendus fuga. Aut, illo placeat.</p>

    </div>

    <div class="col-4">

<img src="assets/img/delorean.jpg"  class="img-thumbnail">
    </div>

</div>

{{> footer}}